@{
    Layout = "_Layout";
}
@model List<Employees>

<div class="container">
    <table class="table table-bordered table-striped" style="margin-left: 11%; margin-top: 2%;">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Father Name</th>
                <th scope="col">Birthday</th>
                <th scope="col">Current Address</th>
                <th scope="col">Register District</th>
                <th scope="col">Passport Number</th>
                <th scope="col">Passort Expire Date</th>
                <th scope="col">Education</th>
                <th scope="col">Family Status</th>
                <th scope="col">Gender</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.FatherName</td>
                    <td>@item.Birthday</td>
                    <td>@item.CurrentAddress</td>
                    <td>@item.RegisterDistrict</td>
                    <td>@item.PassportNum</td>
                    <td>@item.PassExpireDate</td>
                    <td>@item.Education</td>
                    <td>@item.FamilyStatus</td>
                    <td>@item.Gender</td>

                </tr>
            }

        </tbody>
    </table>

</div>