
@{
    ViewData["Title"] = "Index";
}
@model BranchViewModel

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Company Name</th>
            <th>Is Head Office?</th>
            <th>Edit / Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var branch in Model.Branches)
        {
            <tr>
                <td>@branch.Name</td>
                <td>@branch.Company.Name</td>
                <td>@branch.IsHead</td>
                <td><a href="@Url.Action("Edit","Branch", new { id = branch.Id})"> Edit</a> / <a href="@Url.Action("Delete","Branch",new { id = branch.Id})">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Add","Branch")"  style="float:right;"class="btn btn-primary">Add Branch</a>

